body {
    color: #9e244b;
    font-family: Verdana;
    background-image: url("https://64.media.tumblr.com/5d57e71d6961e1b77d7196ce26120491/7cf915f60095705b-e7/s75x75_c1/6bd3b44fa080ba7e6725c4a62d033378abb15a52.png");
    background-repeat: repeat;
    background-color: #ead3d5;
     font-size: 18px;
}

a {
  color: #bf0430;
  font-size: 20px;
}

hr {
  color: #bf0430;
}

.middle {
   width: 70%;
    background-color: #fff0f5;
     border-radius: 50px;
    border: 3px #fa8466 solid;
  margin: auto;
  overflow:hidden;
  border-width:6px;
border-style:solid;
 z-index: 0;
 padding:10px;
}
